@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Manrope&display=swap');

body {
    font-family: 'Manrope', sans-serif;
}

.banner_title {
    font-family: 'Lobster', cursive;
    color: #FF5E19;
    font-size: 3.5rem;
}

.font_size {
    font-size: 12px;
    color: tomato;
}



.field_color {
    background-color: #000000;
}

.unerline_style {
    border-bottom: 2px solid white;
    width: 90%;
    margin: 0 auto;
}